<h2>Call Activity Dashboard</h2>
<hr />
<div class="row">
    <div class="col-xs-3">
        <div class="dropdown" appAppDropdown>
            <button class="btn btn-danger btn-block dropdown-toggle" type="button">
                Order Entry
                <span class="caret"></span></button>
            <ul class="dropdown-menu btn-block">
                <li *ngFor="let team of teams" [ngClass]="{'active': activeId==team.id}" (click)="changeTeam()"><a
                        (click)="selectTeam(team.id)">{{team.name}}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row" style="margin-top:40px">
    <div class="col-md-7">
        <div [chart]="chart" *ngIf="showChart"></div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-success" *ngIf="showCallWidget">
            <div class="panel-heading">Current active calls</div>
            <div class="panel-body" style="margin-bottom: 10px;">
                <h2 class="text-center">{{currentNumber}}</h2>
            </div>
        </div>
    </div>
</div>