<h2>Call Activity Dashboard</h2>
<hr />
<div class="row">
    <div class="col-xs-3">
        <div class="dropdown">
            <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                Order Entry
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Normal</a></li>
                <li class="disabled"><a href="#">Disabled</a></li>
                <li class="active"><a href="#">Active</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row" style="margin-top:40px">
    <div class="col-md-7">chart</div>
    <div class="col-md-5">number</div>
</div>